@import url("https://fonts.googleapis.com/css?family=Oswald");

:root {
	--fade-time: 100ms;
	--element-size: 5vw;
	--electronegativity-display: none;
	--mass-display: default;
}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

table {
	table-layout: fixed;
	max-width: 100vw;
	overflow-x: hidden;
	border-spacing: calc(var(--element-size) / 25);
}

td {
	box-sizing: border-box;
	padding: calc(var(--element-size) / 10);
	width: calc(var(--element-size));
	height: calc(var(--element-size));
	min-width: calc(var(--element-size));
	min-height: calc(var(--element-size));
	max-width: calc(var(--element-size));
	max-height: calc(var(--element-size));
	overflow: hidden;
	position: relative;
}

.element {
	-webkit-transition-property: background-color;
	-webkit-transition-duration: var(--fade-time);
	-webkit-transition-timing-function: linear;
	transition-property: background-color;
	transition-duration: var(--fade-time);
	transition-timing-function: linear;
	border: calc(var(--element-size) / 30) solid black;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	cursor: pointer;
}

.element span {
	display: block;
}

.element .number {
	position: absolute;
	right: calc(var(--element-size) / 20);
	top: calc(var(--element-size) / 20);
	font-size: calc(var(--element-size) / 6);
}

.element .symbol {
	font-size: calc(var(--element-size) / 3);
}

.element .name {
	font-size: calc(var(--element-size) / 7);
	font-family: "Oswald";
}

.element .data {
	font-size: calc(var(--element-size) / 8);
}
.element .mass {
	display: var(--mass-display);
}
.element .electronegativity {
	display: var(--electronegativity-display);
}

.hidden {
	display: none;
}

#buttons {
	position: absolute;
	bottom: 10px;
}

#tooltip {
	position: fixed;
	max-width: 80vw;
	left: 0px;
	opacity: 1;
	transition: opacity 0.1s linear 0.2s;
}
#tooltip.hidden {
	display: inherit;
	opacity: 0;
}

#tooltip #element {
	--element-size: 150px;
}
