@import url('https://fonts.googleapis.com/css?family=Oswald');

table {
	table-layout: fixed;
}

td {
	box-sizing: border-box;
	/* height & width not working for some reason, tables are weird */
	/*	height: 100px;
		width: 100px; */
	padding: 10px;
	position: relative;
}

.element {
	border: 3px solid black;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
}

.element span {
	display: block;
}

.element .number {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 12pt;
}

.element .symbol {
	font-size: 24pt;
}

.element .name {
	font-size: 11pt;
	font-family: "Oswald";
}

.element .mass {
	font-size: 9pt;
}
